{% extends 'base.html' %}
{% load static %}
{% block main %}
<h2>Каталог игр</h2>
<div class="game-list">
    {% for game in games %}
        <div class="game-card">
            <div class="game-image">
                {% if game.image %}
                <img src="{{ game.image.url }}" alt="{{ game.name }}">
                {% else %}
                    <img src="{% static 'images/no_image.png' %}" alt="Нет изображения">
                {% endif %}
            </div>
            <div class="game-info">
                <h3><a href="{% url 'game_detail' game.id %}">{{ game.name }}</a></h3>
                <p class="description">{{ game.description|truncatewords:30 }}</p> {% comment %} до 30 слов видно в карточке {% endcomment %}
            </div>
        </div>
    {% empty %}
        <p>Игры пока не добавлены.</p>
    {% endfor %}
</div>

{% if is_paginated %}
    <div class="pagination">
        {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Назад</a> {% comment %} &laquo стрелочки вперед и назад {% endcomment %}
        {% endif %}

    <span class="current">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span>

    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Вперед &raquo;</a>
    {% endif %}
  </div>
{% endif %}
{% endblock %}
