{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="review-form-container">
    <h2>Добавить отзыв</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
            {{ form.content.errors }}
        </div>
        <button type="submit" class="btn-submit">Отправить отзыв</button>
    </form>
<a href="{% url 'game_detail' game.id %}">Вернуться к игре</a>
</div>
{% endblock %}
